# .gitattributes for 'Data-Analyst-Nanodegree'.
# Repository consists primarily of
# iPython Notebooks, Python Scripts & RMD files.

* linguist-vendored
*.py linguist-vendored=false
*.ipynb linguist-vendored=false
*.R linguist-vendored=false
